.App {
    text-align: center;
}

.App-header {
    background-color: #333;
    padding: 5px;
    color: white;
}

.App-intro {
    font-size: 16px;
    margin-top: 12px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.click-count {
    font-size: 24px;
    display: flex;
    justify-content: center;
}

.game-body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mole-count {
    font-size: 16px;
    display: flex;
    align-items: flex-start;
}

.time_slot_button {
    font-size: 20px;
    text-align: center !important;
}

.timer-section {
    margin: 25px 0 0 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.show {
    display: block;
}

.hide {
    display: none;
}

img.mole {
    width: 100px;
}

.moles-row {
    background-color: lightgreen;
    border-radius: 1.5px;
    display: grid;
    grid-template-columns: 130px 130px 130px 130px;
    grid-template-rows: 100px 100px 100px; 
    grid-column-gap: 15px;
    grid-row-gap: 15px;
  }

.mole-box {
    width: 100px;
    height: 100px;
    margin: 0 10px 0;
}

.mole-count-input {
    width: 50px;
}

.score-box {
    display: flex;
    flex-direction: column;
    padding: 0 25px 25px;
    border: 1px solid black;
    width: 200px;
    position: absolute;
}

.score-item {
    display: flex;
}

.error-message {
    color: red;
    font-weight: bold;
}