@import url('https://fonts.googleapis.com/css?family=Luckiest+Guy&display=swap');
@import url('https://fonts.googleapis.com/css?family=Orbitron&display=swap');

body {
    background: url('assets/hills.png') top no-repeat;
}

.App {
    text-align: center;
}

.App h2 {
    font-family: 'Luckiest Guy', cursive;
    font-size: 50px;
}

.App-header {
    background-color: #333;
    padding: 5px;
    color: white;
}

.App-intro {
    font-size: 16px;
    margin-top: 12px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.welcome {
    position: absolute;
    top: 10px;
    left: 25px;
    font-size: 18px;
    text-align: left;
}

span.logout {
    cursor: pointer;
    font-size: 14px;
}

.start-button {
    font-size: 30px;
}

.click-count {
    font-size: 24px;
    position: absolute;
    display: flex;
    justify-content: center;
    background: url('assets/board.png') top center no-repeat;
    width: 220px;
    height: 100px;
    background-size: contain;
    padding-top: 38px;
    color: white;
    font-weight: bold;
}

.game-body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mole-count {
    font-size: 16px;
    display: flex;
    align-items: flex-start;
}

.time_slot_button {
    font-size: 20px;
    text-align: center !important;
}

.timer-section {
    margin: 25px 0 0 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.game-settings {
    display: flex;
    justify-content: space-around;
    margin: 0 auto 0;
    width: 550px;
    align-items: center;
}

.show {
    display: block;
}

.hide {
    display: none;
}

img.mole {
    width: 100px;
}

.moles-row {
    background-image: url('assets/grass.png');
    border-radius: 1.5px;
    display: grid;
    grid-template-columns: 130px 130px 130px 130px;
    grid-template-rows: 100px; 
    grid-column-gap: 15px;
    grid-row-gap: 15px;
}

.mole-box {
    width: 100px;
    height: 100px;
    margin: 0 10px 0;
}

.mole-count-input {
    width: 50px;
}

.score-box {
    display: flex;
    flex-direction: column;
    padding: 0 25px 25px;
    border: 2px solid darkslategray;
    border-left: 0px;
    width: 220px;
    position: absolute;
    top: 300px;
    background-color: slategray;
    border-radius: 0 15px 15px 0;
    color: white;
    font-size: 16px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.score-item {
    display: flex;
}

.error-message {
    color: red;
    font-weight: bold;
}

.cancel-create-user {
    float: left;
    cursor: pointer;
}

.custom-modal {
    position: absolute;
    background: url('assets/hills.png') top no-repeat;    top: 0;
    width: 100VW;
    height: 100VH;
}

.modal-contents {
    width: 300px;
    margin: 0 auto 0;
}

.modal-body {
    background: white;
}

.modal-header {
    background: white;
}

h4.modal-title {
    font-weight: bold;
    display: flex;
    justify-content: center;
    font-size: 30px;
    font-family: 'Luckiest Guy', cursive;
}

.modal-footer {
    background: white;
    border-radius: 0 0 5px 5px;
}

.seconds-remaining {
    position: absolute;
    top: 20px;
    right: 20px;
    color: white;
    font-size: 36px;
}

.seconds-remaining span {
    font-family: 'Luckiest Guy', cursive;
}